{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add new client{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="first_name">Client's first name:</label>
      <input name="first_name" id="first_name" value="{{ request.form['first_name'] }}" required>
      <label for="last_name">Client's last name:</label>
      <input name="last_name" id="last_name" value="{{ request.form['last_name'] }}" required>
      <label for="age">Client's age:</label>
      <input type="number" name="age" id="age" value="{{ request.form['age'] }}" min="0" required>
      <label for="goals">Client's goals:</label>
      <textarea name="goals" id="goals">{{ request.form['goals'] }}</textarea>
      <label for="notes">Any additional notes here:</label>
      <textarea name="notes" id="notes">{{ request.form['notes'] }}</textarea>
      <input type="submit" value="Save">
  </form>
{% endblock %}