{% extends 'base.html' %}

{% block title %}{{ g.user['first_name'] }} {{ g.user['last_name'] }} - Trainer Home{% endblock %}

{% block header %}<h2>Welcome, select a client:</h2>{% endblock %}

{% block content %}
<div class="client-container">
    {% for client in clients %}
    <div class="client-item">
        <a href="{{ url_for('client.index', id=client['id']) }}"><span>{{ client['first_name'] }} {{ client['last_name'] }}</span></a>
    </div>
    {% endfor %}
</div>
<div class="add-client-container">
    <a href="{{ url_for('trainer.addclient') }}"><span class="add-client-btn">Add a new client</span></a>
</div>
{% endblock %}