{% extends 'base.html' %}

{% block title %}{{ client['first_name'] }} {{ client['last_name'] }} - Edit Client Info {% endblock %}

{% block header %}
    <a href="{{ url_for('trainer.index') }}">Clients</a>
     > <a href="{{ url_for('client.index', id=client['id']) }}">{{ client['first_name'] }} {{ client['last_name'] }}</a>
     > Edit Client Info
{% endblock %}

{% block content %}
<form method="post">
    <h1>Client's First and Last Name:</h1>
    <p>Current name: {{ client['first_name'] }} {{ client['last_name'] }}</p>
    <label for="first_name">Updated first name:</label>
    <input name="first_name" id="first_name" value="{{ request.form['first_name'] }}">
    <label for="last_name">Updated last name:</label>
    <input name="last_name" id="last_name" value="{{ request.form['last_name'] }}">
    <h1>Client's Age:</h1>
    <p>Current age: {{ client['age'] }}</p>
    <label for="age">Updated age:</label>
    <input type="number" name="age" id="age" value="{{ request.form['age'] }}" min="0">
    <h1>Client's Goals:</h1>
    <p>Current goals: {{ client['goals'] }}</p>
    <label for="goals">Updated goals:</label>
    <textarea name="goals" id="goals">{{ request.form['goals'] }}</textarea>
    <h1>Client's Notes:</h1>
    <p>Current additional notes: {{ client['notes'] }}</p>
    <label for="notes">Updated additional notes:</label>
    <textarea name="notes" id="notes">{{ request.form['notes'] }}</textarea>
    <input type="submit" value="Save">
</form>
{% endblock%}