{% extends 'base.html' %}

{% block title %} Client - {{ client['name'] }} {% endblock %}

{% block header %}
    <a href="{{ url_for('trainer.index') }}">Clients</a> > {{ client['name'] }}
{% endblock %}

{% block content%}
    <ul>
        <li><a href="{{ url_for('client.info', id=client['id']) }}">Info</a></li>
        <li>Workouts</li>
        <li>Inbody</li>
        <li><a href="{{ url_for('client.edit_client_info', id=client['id']) }}">Edit Client Info</a></li>
        <li><a href="{{ url_for('client.confirm_remove', id=client['id']) }}">Remove Client</a></li>
    </ul>
{% endblock %}