{% extends 'base.html' %}

{% block title %} Client - {{ client['first_name'] }} {{ client['last_name'] }} {% endblock %}

{% block header %}
    <a href="{{ url_for('trainer.index') }}">Clients</a><span class="breadcrumb"> ></span> {{ client['first_name'] }} {{ client['last_name'] }}
{% endblock %}

{% block content%}
<div class="client-button-container">
    <div class="client-button-item">
        <a href="{{ url_for('client.info', id=client['id']) }}">Info</a>
    </div>
    <div class="client-button-item">
        <a href="{{ url_for('client.workouts', id=client['id']) }}">Workouts</a>
    </div>
    <div class="client-button-item">
        Inbody
    </div>
    <div class="client-button-item">
        <a href="{{ url_for('client.edit_client_info', id=client['id']) }}">Edit Client Info</a>
    </div>
    <div class="client-button-item">
        <a href="{{ url_for('client.confirm_remove', id=client['id']) }}">Remove Client</a>
    </div>
</div>
{% endblock %}