{% extends 'base.html' %}

{% block title %}{{ client['first_name'] }} {{ client['last_name'] }} - Info {% endblock %}

{% block header %}
    <a href="{{ url_for('trainer.index') }}">Clients</a>
     > <a href="{{ url_for('client.index', id=client['id']) }}">{{ client['first_name'] }} {{ client['last_name'] }}</a>
     > Info
{% endblock %}

{% block content %}
    <p>Name: {{ client['first_name'] }} {{ client['last_name'] }}</p>
    <p>Age: {{ client['age'] }}</p>
    <p>Goals: {{ client['goals'] }}</p>
    <p>Notes: {{ client['notes'] }}</p>
{% endblock %}