:root {
    --main-bg-color: #F8F8F8;
    --large-text-color: #6096BA;
    --small-text-color: #0d3c66;
    --special-text-color: #FFBA08;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg-color);
    margin: 23px;
    max-width: 390px;
}

a, a:visited {
    color: var(--small-text-color);
    text-decoration: none;
}

#nav-container {
    height: 50px;
    position: relative;
}

.logo-container {
    display: inline-block;
}

.logo-container h1 {
    margin: 0;
    color: var(--large-text-color);
    font-size: 25px;
}

.nav-links-container {
    position: relative ;
    float: right;
}

.nav-links-container ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.nav-links-container li {
    padding: 2px 0;
}

.header-container {
    margin: 20px;
    text-align: center;
}

.client-item span {
    font-weight: bold;
}

.flashed-messages-container {
    margin: 15px 20px;
    text-align: center;
}

.flashed-message {
    color: var(--small-text-color);
    border: 2px solid #ffd15c;
    border-radius: 4px;
    background-color: var(--special-text-color);
}

.breadcrumb {
    font-size: small;
}

h1 a:visited {
    color: var(--large-text-color);
}